:root {
    /* Primary */
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);

    /* Neutral */
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    height: 100vh;
}

.p {
    font-size: 14px;
    color:  var(--grey);
}

.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--white);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 550px;
}

.container {
    padding: 1.35rem;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desktop-image {
    display: none;
    width: 250px;
}

.perfume {
    font-weight: 500;
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: .240rem;
    margin-bottom: .500rem;
}

.perfume-name {
    font-size: 1.7rem;
    font-family: Fraunces, sans-serif;
    line-height: 1.8rem;
    margin-bottom: .600rem;
}

.product-price {
    display:flex;
    align-items: center;
}

.product-price h1{
    color: var(--green-500);
    margin-right: 1rem;
}

.product-price h5{
    color: var(--grey);
    font-weight: 500;
}

button{
    background-color: var(--green-500);
    width: 100%;
    padding: .850rem 0rem;
    border: none;
    border-radius: .5rem;
    color: var(--white);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: .830rem;
    font-weight: 600;
}

button img {
    margin-right: .500rem;
    width: 1rem;
}


@media only screen and (min-width: 600px){
    .card {
        display: flex;
        flex-direction: row;
        width: 90%;
        background-color: var(--white);
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .product-image {
        display: none;
    }

    .desktop-image {
        display: block;
    }
  }